@use "../../../styles/abstracts/media" as *;
@use "../../../styles/abstracts/mixins" as *;

.priorities {
  margin-top: auto;
  min-height: 100vh;

  @include tablet {
    top: -30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  @include mobile {
    top: -40px;
  }

  &::after {
    content: "";

    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100vw;
    height: 100px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 80%
    );
    pointer-events: none;

    @include tablet {
      bottom: -30px;
    }

    @include mobile {
      bottom: -40px;
    }
  }

  &Title {
    @include fluid-text(120, 50);

    margin-top: 100px;
    margin-bottom: 60px;
    font-weight: 500;
    letter-spacing: 0.4px;
    text-align: center;

    @include tablet {
      margin-top: 40px;
    }
  }

  &SliderWrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  &List {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 50px;

    will-change: transform;
    transition: transform 0.3s ease;

    @include tablet {
      justify-content: start;
      gap: 24px;
    }

    @include mobile {
      gap: 0;
    }
  }

  &Button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  &Bg {
    @include abs-center;

    z-index: -1;
    width: 40vh;
    height: 100%;
    background-image: url("./images/rock.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;

    @include tablet {
      top: 25%;
    }
  }
}
