.input {
  width: 30vw;
  min-width: 210px;
  min-height: var(--input-height);
  padding: 14px 20px;
  font-size: 16px;
  color: var(--primary-color-light);
  background-color: var(--primary-color-dark);
  border: 2px solid transparent;
  border-radius: var(--border-radius-small);
  outline: none;

  &::placeholder {
    color: var(--color-gray);
  }

  &:hover,
  &:focus,
  &:active {
    transform: scale(1.02);
    transition: transform 0.4s ease;
  }
}
