@use "../../../../styles/abstracts/media" as *;
@use "../../../../styles/abstracts/mixins" as *;

.header {
  position: sticky !important;
  top: 20px;
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 24px;

  @include tablet {
    flex-direction: column;
  }

  &List {
    @include flex-center;

    gap: 32px;
    padding: 8px;
    background-color: var(--primary-color-dark);
    border-radius: var(--border-radius-medium);

    @include tablet {
      flex-direction: row-reverse;

      li:last-child {
        padding-left: 12px;
      }
    }
  }

  &Item {
    text-align: center;
    text-wrap: nowrap;
    color: var(--primary-color-light);

    &Active {
      color: var(--primary-color-dark);
      background-color: var(--color-green);
      border-radius: var(--border-radius-small);
    }

    button {
      @include reset-button;
      @include flex-center;

      gap: 8px;
      padding: 16px 24px;
    }

    svg {
      @include square(var(--icon-size));
    }
  }

  &Link {
    position: relative;
    padding-right: 12px;

    &::before {
      content: "";

      @include square(6px);

      position: absolute;
      top: 50%;
      left: -12px;
      transform: translate(0, -50%);
      background-color: var(--primary-color-light);
      border-radius: var(--border-radius-big);
    }
  }
}
