@use "../../../styles/abstracts/mixins" as *;

.wrapper {
  position: relative;
  z-index: 0;
  display: inline-block;
  padding: 24px;
  transform-style: preserve-3d;
  perspective: 600px;
}

.border {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  border: var(--border-gray-light);
  border-radius: var(--border-radius-small);
  inset: 0;
  transform: scaleY(0);
  transform-origin: bottom;
  pointer-events: none;
}

.icon {
  @include square(var(--icon-size-big));

  position: relative;
  z-index: 2;
  transform-style: preserve-3d;
  transform: translateZ(0);
  will-change: transform;
}
